<% @participacaos.each do |p| %>
  <div>
       <!-- TRUQUE: pa3_f1_modal nao tem css, div usada no pa3_overlay para chamar a Modal por coffee click   -->
       <div id="<%= p.dialog %>" class="dialog-open">
	        <!-- css foto_area3_1 com cursor=pointer (hand) -->
		<div id="foto_area3_1" class="foto_area3">
		  <img id="body-img" src="<%= p.imagem %>" title="<%= p.titulo %>">
                </div>
       </div>
  </div>
<% end %>

