<html>
<head>
<body onload="init()">

	<div>
		<div id="btnStart">
			<canvas id="background" width="900px" height="299px">
			      Your browser does not support canvas. Please try again with a different browser.
			</canvas>
		</div>


		<div>
			<iframe id="video" src='https://www.youtube.com/embed/FTWdfEGx3-E' frameborder='0' allowfullscreen='0'></iframe>
		</div>
	</div>




</body>

</html>
