  <header>
  <div class="menu">
	  <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav nav-tabs">
		<li class="pull-left"><a href="#">Home</a></li>
		<li><a href="#">Afonso</a></li>
                <!-- a1 porque o active nao faz o que tem a fazer -->
		<li class="active"><a1 href="#">Projectos</a></li>
		<li><a href="#">Voz Própria</a></li>
		<li><a href="#">Notícias</a></li>
		<li class="social pull-right"><a href="#">Contactos</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->

            <div class="desc_posicao">
              <div id="center_desc">Colectivos</div>
            </div>
	  </nav>
  </div><!-- /.menu -->
  </header>
